<!-- footer -->
     <footer class="w3l-footer pb-5">
        <div class="wrapper-call-us">
			<img src="images/new/SECO-Energy-Call-Us-footer.png" >
			<div class="call-us">
				<div class="box">
					<span class="title">BESOIN D'AIDE ?</span>
					<span class="number">APPELEZ AU (509) 2940-0349</span>
				</div>
				<div class="box">
					<span>CONTACTEZ NOUS</span>
				</div>
			</div>
		</div>
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 sub-one-left">
                    <img class="my-footer-logo" src="images/logos/new_seco_white_logo.png" alt="logo">
                    <p class="text-light">Des solutions sur mesure pour vos divers besoins.</p>
                    
                </div>
                <div class="col-lg-4 sub-one-left">
                    <h6>A propos </h6>
                    <p class="text-light">Depuis plus de 30 ans, notre entreprise accompagne particuliers et professionnels avec des services sur mesure, fiables et innovants.
                        Notre engagement : offrir des solutions de qualité qui répondent réellement à vos besoins.</p>
                    <ul class="social mt-4 pt-lg-1">
                        <li><a href="#facebook"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#twitter"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a></li>
                        <li><a href="#google-plus"><span class="fab fa-google-plus-g"></span></a></li>
                        <li><a href="#instagram"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>
                <!-- <div class="col-lg-5 col-md-6 mt-lg-0 mt-5 px-lg-5 sub-two-right">
                    <h6>Recent Posts</h6>
                    <div class="footer-post">
                        <ul>
                            <li><a href="#post">Suzan Lois</a></li>
                            <li class="mx-2"><a href="#post">- Nov. 21 - </a></li>
                            <li><a href="#post">3 comments</a></li>
                        </ul>
                        <p class="post-footer"><a href="#post">Delivering New Customer Experiences with Workup.</a></p>
                    </div>
                    <div class="footer-post mt-4">
                        <ul>
                            <li><a href="#post">Rose Alha</a></li>
                            <li class="mx-2"><a href="#post">- Nov. 21 - </a></li>
                            <li><a href="#post">3 comments</a></li>
                        </ul>
                        <p class="post-footer"><a href="#post">Discussing the current trends in the share market.</a>
                        </p>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 sub-one-left">
                    <h6>Contact </h6>
                    <div class="column2">
                        <div class="href1">
                            <span class="fas fa-envelope-open"></span>
                            <a href="/cdn-cgi/l/email-protection#93fafdf5fcd3f6ebf2fee3fff6bdf0fcfe"><span class="__cf_email__" data-cfemail="f29b9c949db2978a939f829e97dc919d9f">hr@secogroupe.com</span></a>
                        </div>
                        <div class="href2 my-3">
                            <span class="fas fa-phone-alt"></span>
                            <a href="tel:+509-2940-0349" id="a-tel">+509 2940 0349 / 2940 0339</a>
                        </div>
                        <div>
                            <p class="contact-para mb-3"><span class="fas fa-map-marker-alt"></span>
                                Rue Borno #12 Bis,
                                Pv-Haiti</p>
                        </div>
                        <!-- <div>
                            <p class="contact-para"><span class="fas fa-clock"></span>Office Hours: 9AM - 7PM</p>
                        </div> -->
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyright-footer text-center py-sm-4 py-2">
                <p>&copy; 2025 Seco Groupe, S.A. Tous droits réservés 
                </p>
        </div>
    </footer>
    <!-- //footer -->