 <app-header/>

 <section style="height: max-content; overflow: hidden; display: flex; justify-content: end;">
    
    <hss-hero-section/> 
 </section>

 <!-- <hss-cards-section></hss-cards-section> -->


 <!-- inner banner -->
    <!-- <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">A propos</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Accueil</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>A propos</li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- //inner banner -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>

 <!-- about section -->
    <section class="w3l-about-2 py-5">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-6 about-2-secs-left">
                    <h5 class="small-title mb-2">A propos de nous </h5>
                    <h3 class="title-style mb-2">Nous façonnons vos idées uniques en stratégie d’entreprise.</h3>
                    <p>Chez Seco Groupe, nous mettons notre expertise au service de vos projets, en vous proposant une large gamme de services adaptés à vos besoins. De la planification à l'exécution, nous vous accompagnons avec sérieux, innovation et efficacité. Notre mission : vous offrir des solutions fiables, durables et orientées vers la réussite.</p>
                    <!-- <ul class="list-about-2 mt-sm-4 mt-3">
                        <li class="py-1"><i class="far fa-check-square"></i>Ut enim ad minim
                            veniam</li>
                        <li class="py-2"><i class="far fa-check-square"></i>Quis nostrud
                            exercitation
                            ullamco
                            laboris</li>
                    </ul> -->
                    <a class="btn btn-style mt-lg-5 mt-4" href="index.html#services">Voir Nos Services</a>
                </div>
                <div class="col-lg-6 about-2-secs-right mt-lg-4 mt-5" >
                    <div style="background: #e6e6e6; width: 100%; height: 400px; border-radius: 15px;"></div>
                    <!-- <img src="images/about.jpg" alt="about image" class="img-fluid radius-image" /> -->
                    <!-- <img src="images/new/image8.jpg" alt="about image" class="img-fluid radius-image" /> -->
                </div>
            </div>
        </div>
    </section>
    <!-- //about section -->

    <section style="height: 80vh;">
        <div class="container">
            
                <div class="about-wrapper" style="display: flex; gap: 30px;">
                    <img style="width: 50%; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" src="https://www.hhs1.com/hs-fs/hubfs/Website%20Images/About%20Us/about%20us_website_alternating%20content_0000_how%20we%20started.jpg?width=540&name=about%20us_website_alternating%20content_0000_how%20we%20started.jpg" alt="image">
                    <div class="content-wrapper" style="color: #646464; font-size: 18px;">
                        <h2 style="font-size: 35px; margin-bottom: 10px;">How We Started</h2>
                        <p >
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             laudantium nostrum, voluptas in aperiam molestias unde
                              aliquid pariatur ex dolorem minus, iusto odit minima!
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             laudantium nostrum, voluptas in aperiam molestias unde
                              aliquid pariatur ex dolorem minus, iusto odit minima!
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             laudantium nostrum, voluptas in aperiam molestias unde
                              aliquid pariatur ex dolorem minus, iusto odit minima!
                        </p>
                    </div>
                </div>

                
            
        </div>
    </section>

    <section style="height: 80vh;">
        <div class="container">
            <div class="about-wrapper" style="display: flex; gap: 30px;">
                    <div class="content-wrapper" style="color: #646464; font-size: 18px;">
                        <h2 style="font-size: 35px; margin-bottom: 10px;">History of Growth</h2>
                        <p >
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             laudantium nostrum, voluptas in aperiam molestias unde
                              aliquid pariatur ex dolorem minus, iusto odit minima!
                        </p>

                        

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Sint velit fugiat reiciendis! Eum, eius aspernatur 
                             laudantium nostrum, voluptas in aperiam molestias unde
                              aliquid pariatur ex dolorem minus, iusto odit minima!
                        </p>
                    </div>
                    <img style="width: 50%; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" src="https://www.hhs1.com/hs-fs/hubfs/Website%20Images/About%20Us/about%20us_website_alternating%20content_0001_history%20of%20growth.jpg?width=540&name=about%20us_website_alternating%20content_0001_history%20of%20growth.jpg" alt="image">
                    
            </div>
        </div>
    </section>


<div style="margin: 8px auto; display: block; text-align:center;">
    <section class="w3l-about-2 py-5">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-12 about-2-secs-left">
                    <!-- <h5 class="small-title mb-2">A propos de nous</h5> -->
                    <h3 class="title-style mb-2">Notre Histoire.</h3>
                    <p class="mb-2">Depuis sa création en 2010 en Louisiane, SECO GROUPE, dirigé par l’entrepreneur et philanthrope Michelet Nestor, a connu une croissance constante, élargissant ses activités aux États-Unis et en Haïti. En tant que groupe haïtien regroupant plusieurs filiales, SECO GROUPE propose une gamme variée de services à travers ses sept entités : SECO Sécurité, Seco Tech, Seco Distributors, Seco Univers Construction, SECO Line, Mass International et Seco Agro-Industries.</p>
                    <p class="mb-2">Sous la direction de Michelet Nestor, SECO GROUPE ne se limite pas à offrir des services de haute qualité dans des domaines tels que la sécurité, la logistique, la construction, la transformation agricole et la technologie. Michelet Nestor s’engage également à soutenir le développement économique et social en Haïti à travers des initiatives concrètes. En plus de créer des emplois pour des milliers d’Haïtiens dans un contexte économique difficile, où de nombreuses entreprises ferment leurs portes, SECO GROUPE permet à des entreprises locales de bénéficier de solutions adaptées et de maintenir leur compétitivité.</p>
                    <p class="mb-4">Michelet Nestor incarne son engagement philanthropique au travers de la Fondation Nestor, qui œuvre pour améliorer les conditions de vie des communautés en Haïti. La Fondation Nestor soutient divers projets d’éducation, de santé, et de développement communautaire, contribuant ainsi à offrir un avenir meilleur aux familles haïtiennes et à renforcer la résilience de la population face aux défis socio-économiques.</p>
                    <p>Grâce à l’expertise de plus de 500 employés dévoués et à une direction cumulant plus de 30 ans d’expérience, SECO GROUPE et la Fondation Nestor s’allient pour promouvoir la prospérité en Haïti et améliorer la vie de ses habitants.</p>
                    <!-- <ul class="list-about-2 mt-sm-4 mt-3">
                        <li class="py-1"><i class="far fa-check-square"></i>Ut enim ad minim
                            veniam</li>
                        <li class="py-2"><i class="far fa-check-square"></i>Quis nostrud
                            exercitation
                            ullamco
                            laboris</li>
                    </ul> -->
                    <!-- <a class="btn btn-style mt-lg-5 mt-4" href="services.html">Voir Nos Services</a> -->
                </div>
                <!-- <div class="col-lg-6 about-2-secs-right mt-lg-4 mt-5">
                    <img src="assetsimages/about.jpg" alt="" class="img-fluid radius-image" />
                </div> -->
            </div>
        </div>
    </section>
</div>


    <!-- features section -->
    <!-- <section class="w3l-grids-block pb-5 pt-4" id="features">
        <div class="container pb-lg-5 pb-md-4 pb-2">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:600px;">
                <h5 class="small-title mb-2">Our Features</h5>
                <h3 class="title-style">We Make Your Agency Full Bright</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10">
                    <div class="bottom-block">
                        <a href="#features" class="d-block">
                            <i class="fas fa-business-time"></i>
                            <h3 class="mt-3 mb-2"> Market Research</h3>
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora
                                rerum perspiciatis?</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mt-md-0 mt-4">
                    <div class="bottom-block">
                        <a href="#features" class="d-block">
                            <i class="fab fa-accusoft"></i>
                            <h3 class="mt-3 mb-2">Startup Business</h3>
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora
                                rerum perspiciatis?</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-10 mt-lg-0 mt-4">
                    <div class="bottom-block">
                        <a href="#features" class="d-block">
                            <i class="fas fa-chart-line"></i>
                            <h3 class="mt-3 mb-2">Business Growth</h3>
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora
                                rerum perspiciatis?</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- //features section -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>

<app-footer/>
    
