<app-header/>

 <banner-slider [imgUrls]="['images/vecteezy/vecteezy_handshake.jpg']">
         <div style="display: flex; align-items: center; height: 100%;">
            <div class="container" >
            <div class="w3l-breadcrumb py-lg-5" style="background: transparent !important;">
                <div class="container pt-5 pb-sm-4">
                    <div>
                        <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4" style="font-size: 35px;" id="big-service-title">Join Us</h4>
                        <ul class="breadcrumbs-custom-path">
                            <li><a [routerLink]="['/']">Accueil</a></li>
                            <li class="active"><i class="fas fa-angle-right mx-2"></i>
                                <span id="title-service-active">Join Us</span>
                            </li>
                        </ul>
                    </div>
                    <div >
                        <h1 style="font-size: 45px; font-weight: 900; color: #fff;">Ready to build the future with Seco Groupe ?</h1>
                        <p style="color: #fff; font-size: 18px;">Join a passionate team where your ideas matter and your growth is our priority.</p>
                        <button class="cta-btn">See open positions</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</banner-slider>

<app-footer/>