<div class="slider">
        <div class="slide current">
            <div class="bg-layer">
                <div class="content">
                    <h6>Lancez votre entreprise avec nous</h6>
                    <h3>Une stratégie claire pour concrétiser vos ambitions !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6>Accompagnement stratégique et financier</h6>
                    <h3> Pour faire grandir et gérer votre activité !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6>Démarrez votre activité en toute confiance</h6>
                    <h3>Votre vision, <br>notre réussite !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6> Accompagnement entrepreneurial</h6>
                    <h3>Construisons l’avenir ensemble !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
                    <button #prev id="prev"><i class="fas fa-arrow-left"></i></button>
                    <button #next id="next"><i class="fas fa-arrow-right"></i></button>
    </div>