<section class="acquiring container py-5">
        <div class="hero">
            <div class="hero-body">
                <h1 class="title">Planned Companies may be interested
                    in acquiring your company!</h1>
                <a href="https://www.plannedcompanies.com/aquisitions/" class="btn-request">Learn more</a>
            </div>
        </div>
</section>    

<!-- 
    <div class="contenedor_svgs">
            <svg class="ilustracion_comun animar" width="269" height="510" viewBox="0 0 269 510" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="stroke-animation" id="thePath" d="M265 39V4H4V506H264.32V491.071" stroke="#ED2939" stroke-width="8"></path>
            </svg>
    </div>
-->