<app-header/>
    <!-- inner banner -->
     <!-- <div class="filiale-bg">
        <section class="inner-banner-service py-5" >
           
            
        </section>
     </div> -->

     <banner-slider [imgUrls]="filiale.cover" [yPos]="yPos">
        <div style="display: flex; align-items: center; height: 100%;">
            <div class="container" >
            <div class="w3l-breadcrumb py-lg-5" style="background: transparent !important;">
                <div class="container pt-5 pb-sm-4">
                    <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4" id="big-service-title">{{filiale.name}}</h4>
                    <ul class="breadcrumbs-custom-path">
                        <li><a [routerLink]="['/']">Accueil</a></li>
                        <li><i class="fas fa-angle-right mx-2"></i></li>
                        <li class="active">
                            <a [routerLink]="['/filiales',pays]">
                                @if(pays === 'usa'){
                                    United States
                                }@else if (pays === 'canada') {
                                    Canada
                                }@else if (pays === 'bahamas') {
                                    Bahamas
                                }@else {
                                    Haiti
                                }
                            </a>
                        </li>
                        <li class="active"><i class="fas fa-angle-right mx-2"></i>
                            <span id="title-service-active">{{filiale.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
         
     </banner-slider>
        
                <!-- //inner banner -->
         <div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->
    
        </div>

    <section style="padding: 25px 0;">
        <div class="container">
            @for(fd of filiale.filialeDetails; track $index){
                
                <h2 style="font-weight: bold; margin-bottom: 10px;">{{fd.title}}</h2>
                <p style=" font-size: 18px; margin-bottom: 10px;">
                    {{fd.description}}
                </p>
            }
            
        </div>
    </section>

    

         <!-- features section -->
    <section class="w3l-grids-block pt-2 pb-5" id="features">
        <div class="container py-lg-2 py-md-2 py-2">
            <!-- <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:600px;">
                
                <h3 class="title-style" id="service-title">{{filiale.name}}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero itaque iste quos porro animi. Magni, ad obcaecati? Iste.</p>
            </div> -->
            
            <!-- <div class="cards-uiverse">
               
                 @for( cdi of filiale.cardDetails.infos; track $index){
                    <my-card [version]="filiale.cardDetails.id" [title1]="cdi.title" />
                 }
                   
            </div> -->

            <div class="cards7">
               
                 @for( cdi of filiale.cardDetails.infos; track $index){
                    <a [routerLink]="'/filiales/'+pays+cdi.link">
                        <my-card [version]="7" [title1]="cdi.title"  [cover]="'url('+cdi.cover+')'"/>
                    </a>
                    
                 }
                   
            </div>
            
        </div>
    </section>
    <!-- //features section -->
    
     @if(filiale.filialeDetails[0].slogan){
        <app-slogan [text]="filiale.filialeDetails[0].slogan"></app-slogan>
     }
    
    <eulen-contact-section></eulen-contact-section>
    <section class="pb-5 pt-2" >
            <our-clients-section/>
    </section>
<app-footer/>
