<app-header/>

 <banner-slider [imgUrls]="['images/vecteezy/vecteezy_handshake.jpg']">
         <div style="display: flex; align-items: center; height: 100%;">
            <div class="container" >
            <div class="w3l-breadcrumb py-lg-5" style="background: transparent !important;">
                <div class="container pt-5 pb-sm-4">
                    <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4" style="font-size: 45px;" id="big-service-title">Join Us</h4>
                    <ul class="breadcrumbs-custom-path">
                        <li><a [routerLink]="['/']">Accueil</a></li>
                        <li class="active"><i class="fas fa-angle-right mx-2"></i>
                            <span id="title-service-active">Join Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
</banner-slider>

    <section style="margin-top: 50px;">
        <div class="container">
            <div>
                <h2 style="font-weight: bold; margin-bottom: 10px;">Why work at Seco Groupe ?</h2>
                <p>
                    We are Seco Groupe, a company with more than 5,000 employees worldwide, one of the largest employers in USA, which promotes differentiated and sustainable services, allowing us to anticipate the requirements of society and our clients. It is worth highlighting the specific effort in the design of services for sustainability in energy efficiency, environmental impact and social factor, which are born with the vocation of building a more sustainable world. Among these designs we can highlight: charging networks for electric mobility, active forests or integral management of urban loneliness. Do you accept the challenge ?
                </p>
            </div>
        </div>
    </section>

<eulen-contact-section></eulen-contact-section>

<section class="pb-5 pt-2" >
        <our-clients-section/>
</section>


<app-footer/>
