 <!-- <div class="wp-block-group boxed-content is-vertical is-content-justification-left is-layout-flex wp-container-core-group-is-layout-adc7e0b5 wp-block-group-is-layout-flex">
        <h2 id="h-why-planned" class="wp-block-heading has-text-align-center section-heading">Why Seco ?</h2>



        <p>With over 125 years of experience and 4 generations of family management, Seco Groupe continues to deliver unparalleled Janitorial, Maintenance, Concierge, and Security services to clients across the United States.</p>



        <p>Seco Groupe has a full-time team of in-house recruiters who utilize our I-PLAN recruiting methodology designed to hire people who possess the required skill sets. Discover how our dynamic training programs are meticulously crafted to elevate the productivity and reliability of our associates, setting them apart from the competition. Our management undergoes rigorous training to provide professional oversight and supervision to every field associate, guaranteeing our clients receive unparalleled service excellence.</p>


        <a href="#" class="btn-request js-modal-trigger" data-target="modal-3" data-heading="Get in touch!" data-description="Request a quote or ask a question about our Janitorial, Security Guard, Concierge or Building Maintenance Services" data-form-id="3">Request a proposal</a>
</div> -->

<div class="text-wrapper">
        <div>
                <h2 class="my-title" style="margin-bottom: 10px;">Why Choose Seco Groupe ?</h2>

        <p>Your Comprehensive Partner in Facility Services.</p>

        <p>
                As leaders in the field, we excel in housekeeping, maintenance, floor
                care, laundry, and commercial services tailored to your business needs.
                Beyond cleanliness, we handle staffing, auditing, tech integration, and
                effective training for enhanced performance.
        </p>

        <h4 class="my-title">Our Team</h4>
        <p>
                A company’s potential lies in its people. Our future strength rests on our
        exceptional staff dedicated to Facility services.
        </p>
        <h4 class="my-title">Recruitment</h4>
        <p>
                Outstanding companies attract exceptional individuals. We seek staff
        and leaders passionate about Facility, offering growth opportunities in
        a respectful environment.
        </p>
        <h4 class="my-title">Training</h4>
        <p>
                Investing in training is valuing our team. From newcomers to managers,
        everyone receives job-specific training for success and progression.
        </p>
        <h4 class="my-title">Empowerment</h4>
        <p>
                Empowered by knowledge, our team gains confidence, independence,
                and personal fulfillment, reducing the need for extensive management.
        </p>

        <a href="#" class="btn-request js-modal-trigger" data-target="modal-3" data-heading="Get in touch!" data-description="Request a quote or ask a question about our Janitorial, Security Guard, Concierge or Building Maintenance Services" data-form-id="3">Request a proposal</a>
        </div>

</div>