
.my-title{
        color: #010101;
        font-weight: bold;
}

.text-wrapper{
        display: flex;
        justify-content: center;
        // flex-direction: column;
       
}

.text-wrapper div{
        max-width: 800px;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

//         /*! CSS Used from: Embedded */
// .wp-block-group{box-sizing:border-box;}
// .has-text-align-center{text-align:center;}
// :where(.is-layout-flex){gap:.5em;}
// body .is-layout-flex{display:flex;}
// body .is-layout-flex{flex-wrap:wrap;align-items:center;}
// body .is-layout-flex>*{margin:0;}
// h2,p{margin:0;padding:0;}
// h2{font-size:100%;font-weight:400;}
// a{color:#0b0b0b;cursor:pointer;text-decoration:none;}
// a:hover{color:#363636;}
// a{background-color:transparent;}
// *,::after,::before{-webkit-box-sizing:inherit;box-sizing:inherit;}
// p{margin:0 0 32px;}
// h2{font-family:'SF Pro Display',sans-serif;}
.btn-request{
        // background:#ba1c0c;
        background: var(--my-sec-bg);
        border: 2px solid var(--my-sec-bg);
        color:#fff;
        padding:16px 32px;
        border-radius:16px;
        display:inline-block;
        text-decoration:none;
        color:#fff;
        font-family:"SF Pro Text",sans-serif;
        font-size:20px;
        font-size:1.25rem;
        line-height:32px;
        font-weight:500;
        text-align:center;
        -webkit-transition:.2s linear;
        transition:all .2s linear;
        margin: auto;
        margin-top: 20px;
}
.btn-request:hover{
        color: var(--my-sec-bg);
        // background:#99190b;
        background: transparent;
        border: 2px solid var(--my-sec-bg);
}
// .btn-request:not(.btn-request-2){margin-right:16px;}
a:focus{outline:0;}
.page-template-homepage .section-heading{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;white-space:pre-line;font-family:"SF Pro Display",sans-serif;font-size:56px;font-size:3.5rem;text-align:center;font-weight:700;line-height:56px;margin-bottom:64px;color:#000;margin-top:128px;}
.boxed-content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 auto;max-width:700px;}
.boxed-content .section-heading{width:100%;}
.boxed-content p{font-size:18px;font-size:1.125rem;color:#767676;font-style:normal;font-weight:400;line-height:27px;text-align:justify;margin-bottom:32px;}
 .btn-request{max-width:300px;width:100%;}
.boxed-content{margin-bottom:64px;max-width:700px;margin:0 auto;}
.has-text-align-center{text-align:center!important;}
@media (max-width:1140px){
.boxed-content{max-width:80%;margin:0 auto;}
.btn-request{font-size:14px;font-size:.875rem;line-height:20px;padding:12px 16px;}
.page-template-homepage .section-heading{font-size:24px;font-size:1.5rem;line-height:32px;margin-top:80px;margin-bottom:32px;}
.page-template-homepage .boxed-content{max-width:80%;margin:0 auto;}
.page-template-homepage .boxed-content p{font-size:14px;font-size:.875rem;line-height:21px;}
.boxed-content p{font-size:14px;font-size:.875rem;line-height:21px;}
}
@media (max-width:768px){
.boxed-content{max-width:80%;margin:0 auto;}
.page-template-homepage .section-heading{font-size:24px;font-size:1.5rem;line-height:32px;margin-top:80px;margin-bottom:32px;}
.page-template-homepage .boxed-content{max-width:265px;margin:0 auto;}
.page-template-homepage .boxed-content p{font-size:14px;font-size:.875rem;line-height:21px;}
.boxed-content p{font-size:14px;font-size:.875rem;line-height:21px;}
}
// /*! CSS Used from: Embedded */
.wp-container-core-group-is-layout-adc7e0b5{flex-direction:column;align-items:flex-start;}
// /*! CSS Used fontfaces */
@font-face{font-display:swap;font-family:'SF Pro Display';font-style:normal;font-weight:500;src:local('SF Pro Display'),url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff') format('woff');}
@font-face{font-display:swap;font-family:'SF Pro Display';font-style:normal;font-weight:700;src:local('SF Pro Display'),url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff') format('woff');}
@font-face{font-family:'SF Pro Text';src:url("/themes/planned/assets/fonts/SFProText-Medium.woff2") format("woff2"),url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Medium.woff2") format("woff2"),url("/themes/planned/assets/fonts/SFProText-Medium.woff") format("woff"),url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Medium.woff") format("woff");font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:'SF Pro Text';src:url("/themes/planned/assets/fonts/SFProText-Regular.woff2") format("woff2"),url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Regular.woff2") format("woff2"),url("/themes/planned/assets/fonts/SFProText-Regular.woff") format("woff"),url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Regular.woff") format("woff");font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:'SF Pro Text';src:url("/themes/planned/assets/fonts/SFProText-Bold.woff2") format("woff2"),url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Bold.woff2") format("woff2"),url("/themes/planned/assets/fonts/SFProText-Bold.woff") format("woff"), url("/secogroupe2.0/themes/planned/assets/fonts/SFProText-Bold.woff") format("woff");font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-display:swap;font-family:'SF Pro Display';font-style:normal;font-weight:500;src:local('SF Pro Display'),url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYMEDIUM.woff') format('woff');}
@font-face{font-display:swap;font-family:'SF Pro Display';font-style:normal;font-weight:700;src:local('SF Pro Display'),url('https://fonts.cdnfonts.com/s/59278/SFPRODISPLAYBOLD.woff') format('woff');}


 
         .section-heading {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            white-space: pre-line;
            font-family: "SF Pro Display",sans-serif;
            font-size: 56px;
            font-size: 3.5rem;
            text-align: center;
            font-weight: 700;
            line-height: 56px;
            margin-bottom: 64px!important;
            color: #000;
            margin-top: 128px!important;
        }
