<app-header/>
    <div class="slider">
        <div class="slide current">
            <div class="bg-layer">
                <div class="content">
                    <h6>Lancez votre entreprise avec nous</h6>
                    <h3>Une stratégie claire pour concrétiser vos ambitions !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6>Accompagnement stratégique et financier</h6>
                    <h3> Pour faire grandir et gérer votre activité !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6>Démarrez votre activité en toute confiance</h6>
                    <h3>Votre vision, <br>notre réussite !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="bg-layer">
                <div class="content">
                    <h6> Accompagnement entrepreneurial</h6>
                    <h3>Construisons l’avenir ensemble !</h3>
                    <a href="about.html" class="btn btn-style mt-4">Voir Plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
                    <button id="prev"><i class="fas fa-arrow-left"></i></button>
                    <button id="next"><i class="fas fa-arrow-right"></i></button>
    </div>
    <!-- servicescard section fbad19 -->
    <section class="" id="services-cards">
        <div class="container ">
            <div class="title-main text-center mx-auto" style="max-width:700px;">
                
             <!-- <button class="btn btn-primary my-4" >START APPLICATION PROCESS</button> -->
              <div class="marquee-container text-box">
                    <div class="marquee ">
                            Depuis plus de 30 ans, nous accompagnons les entreprises
                    </div>
              </div>
             
            </div>
            <div class="services-cards-container">
                
                <a href="seco_securite.html" class="service-card-container">
                    <div class="service-card">
                    <div class="front">
                        <div class="icon-box">
                            <i class="fas fa-shield-halved"></i>
                                <!-- <i class="ri-shield-check-fill"></i> -->
                        </div>
                        
                        <div class="title-box">
                            <span>Seco Securité</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="top">
                            <img src="assets/images/new/logo_seco_secu.png" alt="logo seco securite">
                        </div>
                        <div class="overlay">
                            <div class="title">
                                <i class="fas fa-shield-halved"></i>
                                Seco Securité
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                        </div>
                    </div>
                    </div>
                </a>
                
                <a href="seco_tech.html" class="service-card-container">
                    <div class="service-card">
                        <div class="front">
                                <div class="icon-box">
                                    <i class="fa-solid fa-microchip"></i>
                                    <!-- <i class="ri-cpu-line"></i> -->
                                </div>
                        
                                <div class="title-box">
                                        <span>Seco Tech</span>
                                </div>
                        </div>
                        <div class="back">
                             <div class="top">
                                <img src="assets/logo/seco tech.png" alt="logo seco tech">
                            </div>
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-microchip"></i>
                                    Seco Tech
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="seco_distributors.html" class="service-card-container">
                    <div class="service-card">
                        <div class="front">
                            <div class="icon-box">
                            <!-- <i class="ri-truck-line"></i> -->
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            
                            <div class="title-box">
                                    <span>Seco Distributors</span>
                            </div>
                        </div>

                        <div class="back">
                             <div class="top">
                                <img src="assets/logo/seco distributors.png" alt="logo seco securite">
                            </div>
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-truck"></i>
                                    Seco Distributors
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="seco_univers_construction.html" class="service-card-container">
                    <div class="service-card">
                        <div class="front">
                            <div class="icon-box">
                                <i class="fa-solid fa-person-digging"></i>
                            </div>
                            
                            <div class="title-box">
                                    <span>Seco Univers Construction</span>
                            </div>
                        </div>
                        

                        <div class="back">
                            <div class="top">
                                <img src="assets/logo/seco univers construction.png" alt="logo seco securite">
                            </div>
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-person-digging"></i>
                                    Seco Univers Construction
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="seco_energy_co.html" class="service-card-container">

                    <div class="service-card">

                        <div class="front">
                                <div class="icon-box">
                                    <i class="fa-solid fa-bolt"></i>
                                </div>
                                
                                <div class="title-box">
                                        <span>Seco Energy CO</span>
                                </div>
                        </div>
                        

                        <div class="back">
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-bolt"></i>
                                    Seco Energy CO
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>

                </a>

                <a href="seco_agro_industries.html" class="service-card-container">
                    <div class="service-card">
                        <div class="front">
                            <div class="icon-box">
                                <i class="fa-solid fa-seedling"></i>
                            </div>
                            
                            <div class="title-box">
                                    <span>Seco Agro-Industries</span>
                            </div>
                        </div>
                        

                        <div class="back">
                            <div class="top">
                                <img src="assets/logo/seco agro.png" alt="logo Seco Agro-Industries">
                            </div>
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-seedling"></i>
                                    Seco Agro-Industries
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="mass_assurance.html" class="service-card-container">
                    <div class="service-card">
                        <div class="front">
                                <div class="icon-box">
                                    <i class="fas fa-user-shield"></i>
                                </div>
                                
                                <div class="title-box">
                                        <span>Mass Assurances</span>
                                </div>

                        </div>
                        
                        <div class="back">
                            <div class="overlay">
                                <div class="title">
                                    <i class="fas fa-user-shield"></i>
                                    Mass Assurances
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="mass_funds.html" class="service-card-container">

                    <div class="service-card">
                        <div class="front">
                                <div class="icon-box">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                
                                <div class="title-box">
                                        <span>Mass Funds</span>
                                </div>
                        </div>
                        

                        <div class="back">
                            <div class="overlay">
                                <div class="title">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                    Mass Funds
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                            </div>
                        </div>
                        
                    </div>
                </a>

                <a href="boyo_airwaves.html" class="service-card-container">
                    <div class="service-card">
                    <div class="front">
                        <div class="icon-box">
                            <i class="fa-solid fa-plane-departure"></i>
                                <!-- <i class="ri-shield-check-fill"></i> -->
                        </div>
                        
                        <div class="title-box">
                            <span>Boyo Airways</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="top">
                                <img src="assets/logo/Boyo Airways.png" alt="logo seco securite">
                        </div>
                        <div class="overlay">
                            <div class="title">
                                <i class="fa-solid fa-plane-departure"></i>
                                Boyo Airways
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eveniet ratione obcaecati...</p>
                        </div>
                    </div>
                    </div>
                </a>

            </div>
        </div>
    </section>
   
    <div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
    </div>

<app-footer/>