<app-header [menuAutoHide]="false"/>
    <app-banner/>
    <section class="container">
       
            <div>
                <h2>Nos entreprises à l'international</h2>
                <p>Lorem ipsum sicing elit. Molestiaeniet maiores sunt nescitium labore deserunt dolorum voluptatem earum at corrupti!</p>

            </div>
            
            <div class="cards-flex">
                @for(cardInfo of cardDetails.infos ; track $index){
                    <a [routerLink]="['/filiales', pays[$index]]">
                        <my-card [version]="cardDetails.id" [cover]="cardInfo.cover" [title1]="cardInfo.title" title2="Seco Groupe" />
                    </a>
                    
                }
                
            </div>
        
    </section>

   <!-- testimonials section -->
    <section class="py-5" style="background-color: #f1f1f1;" >
        <div class="container py-md-5 py-4">
            <div class="client-cards">

                <div class="my-client-card">
                    <img src="images/clients/brana_logo.png" alt="team worker">
                    <!-- <div class="my-overlay">

                        <span class="client-name">Client Name</span>
                        <span class="client-role-name">Role Name</span>
                    </div> -->

                </div>

                <div class="my-client-card">
                    <img src="images/clients/grand_geneva_logo.jpeg" alt="team worker">
                    <!-- <div class="my-overlay">

                        <span class="client-name">Client Name</span>
                        <span class="client-role-name">Role Name</span>
                    </div> -->

                </div>
                <div class="my-client-card">
                    <img src="images/clients/Grand-Sierra-Resort-Logo.png" alt="team worker">
                    <!-- <div class="my-overlay">

                        <span class="client-name">Client Name</span>
                        <span class="client-role-name">Role Name</span>
                    </div> -->

                </div>

                <div class="my-client-card">
                    <img src="images/clients/Kalahari_Resorts_Horiz_Blue-768x257.avif" alt="team worker">
                    <!-- <div class="my-overlay">

                        <span class="client-name">Client Name</span>
                        <span class="client-role-name">Role Name</span>
                    </div> -->

                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials section -->
<app-footer/>

