<app-header [menuAutoHide]="false"/>
    <app-banner/>
    <section class="container">
       
            <div>
                <h2>Nos entreprises à l'international</h2>
                <p>Lorem ipsum sicing elit. Molestiaeniet maiores sunt nescitium labore deserunt dolorum voluptatem earum at corrupti!</p>

            </div>
            
            <div class="cards-flex">
                @for(cardInfo of cardDetails.infos ; track $index){
                    <a [routerLink]="['/filiales', pays[$index]]">
                        <my-card [version]="cardDetails.id" [cover]="cardInfo.cover" [title1]="cardInfo.title" title2="Seco Groupe" />
                    </a>
                    
                }
                
            </div>
        
    </section>

    <eulen-slider></eulen-slider>

    <app-section1></app-section1>

    <app-section2></app-section2>

   <!-- testimonials section -->
    <section class="py-5" style="background-color: #f1f1f1;" >
        <div class="scroll-wrapper-1">
                        <div class="scroll-track">
                            @for(clientLogo of clientsLogo; track $index){
                                <div class="my-client-card">
                                    <img [src]="clientLogo" alt="team worker">
                                </div>
                            }

                        </div>
                        <div class="scroll-track">
                            @for(clientLogo of clientsLogo; track $index){
                                <div class="my-client-card">
                                    <img [src]="clientLogo" alt="team worker">
                                </div>
                            }

                        </div>
                        
                        
            </div>
    </section>
    <!-- //testimonials section -->
<app-footer/>

