<app-header [menuAutoHide]="false"/>
    <!-- <app-banner imgUrl="url(/images/vecteezy/vecteezy_handshake.jpg), url(/secogroupe2.0/images/vecteezy/vecteezy_handshake.jpg)"/> -->
   <!-- @let currentLanguage = (currentLanguage$ | async)  || ''; -->
<div style="margin-top: 70px;">
    <hss-hero-section/>
</div>
    
    
    <section class="container">
       
            <div style=" padding: 20px; margin:0 auto; margin-bottom: 40px; width: 100%;">
                <!-- <p style="font-weight: bold; font-size: 20px; width: 100%;">SECO GROUPE is a reputed provider of facility Services, specializing in the supply of high-end services such as concierge, housekeeping, security, building maintenance, staffing, janitorial and other services to clients across the United States and Abroad.</p> -->

            </div>
            
            <div class="cards-flex ">
                @for(cardInfo of cardDetails.infos ; track $index){
                    <a [routerLink]="['/filiales', pays[$index]]">
                        <my-card [version]="cardDetails.id" [cover]="cardInfo.cover || ''" [title1]="cardInfo.title" title2="Seco Groupe" />
                    </a>
                    
                    
                }
                
            </div>
        
    </section>

    <eulen-slider></eulen-slider>

    <app-section1 [version]="2"></app-section1>

    <app-section2></app-section2>

    <eulen-section1></eulen-section1>

    <eulen-section2></eulen-section2>

    

    <!-- progress section -->

<eulen-section3></eulen-section3>

   <!-- testimonials section -->
    <section class="pb-5 pt-2" data-aos="fade-right">
        <our-clients-section/>
    </section>

   
    <!-- //testimonials section -->
<app-footer/>

