.swiper {
  width: 100%;
  height: 60vh;
  position: relative!important;
}

.swiper-slide{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    
}

.overlay p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 600px;
    color: #fff;
}