
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .hero-wrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            /* border: 2px solid red; */
        }

        .box-wrapper{
            position: relative;
        }

        .ilustracion_comun.animar{
            position: absolute;
            top: 3%;
            left: -10%;

        }

        .box{
            width: 550px;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* background: rgb(57, 182, 255); */
            /* border: 2px solid rgb(57, 182, 255); */
        }

        .animar.ilustracion_comun path{
                
                stroke: rgb(181, 228, 255);
                stroke-dasharray:1570;
                stroke-dashoffset:1570;
                animation: bar-animation 3s ease-in-out .7s infinite alternate;
                /* -webkit-transition:all 3s ease-in-out .7s;
                transition:all 3s ease-in-out .7s; */
        }

        /* .animar.ilustracion_comun path{
                stroke-dashoffset:0;
                
                stroke: #fbad19;
        } */

        @keyframes bar-animation{
            to{
                stroke-dashoffset:0;
                
                stroke: rgb(57, 182, 255);
            }
        }

        #left.start image, #right.start image {
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-name: opacity
        }

 #left.start image:nth-child(2), #right.start image:nth-child(2) {
    animation-delay: -10s
}

 #left.start image:nth-child(3), #right.start image:nth-child(3) {
    animation-delay: -5s
}

@keyframes opacity {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    33% {
        opacity: 1
    }

    53% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
